{% extends "base.html" %}

{% block title %}Registration{% endblock %}

{% block content %}
    <div class="wholepage container showgrid">
        <div class="span-24 last prepend-top">
            <h1>Activation Pending</h1>
            <p>
                Before you can use your new account, you must go through
                the activation process. You should receive an e-mail shortly that
                will contain your activation key.
            </p>
        </div>
    </div>
{% endblock %}
