{% extends "base.html" %}

{% block title %}{{ lookup_date|date:"F Y" }} calendar{% endblock %}

{% block content %}
    {% load timezone_filters %}
    <div class="wholepage container showgrid">
        <div class="span-24 last prepend-top">
            <div class="span-6">
                <p>
                    <a href="{% url game_list %}" class="span-4">All Games</a><br/>
                    <a href="{% url index %}" class="span-4">Calendar Index</a>
                </p>
            </div>
            {% if profile %}
            <div class="push-8 span-8 last bottom">
                <p class="small">Your time is currently marked as follows:<br/>
                {{ current_date|localtime:profile.timezone }}</p>
                <p class="small">Your timezone is currently marked:<br/>
                {{ profile.timezone }}
                </p>
            </div>
            {% endif %}
        </div>

        <div class="span-22 prepend-1">
            <table border="0" cellpadding="0" cellspacing="0" class="calendar" style="margin: 0 auto">
                <tbody>
                <tr><th colspan="7" class="month">{{ lookup_date|date:"F Y" }}</th></tr>
                <tr>{% spaceless %}
                {% for item in date_list|slice:":7" %}
                    <th class="dayname span-3{% if forloop.counter == 1 %} first{% else %}{% if forloop.counter == 7 %} last{% endif %}{% endif %}">{{ item.date|date:"l" }}</th>
                {% endfor %}{% endspaceless %}</tr>

                {% for item in date_list %}
                {% spaceless %}
                {% with item.date as date %}
                        {% if forloop.counter0|divisibleby:"7" %}<tr>{% endif %}
                        {% if date.month != lookup_date.month %}
                            <td class="otherMonth">
                                <div class="day_header">
                                    <a href="" class="daynum">{{ date.day }}</a>
                                </div>
                                {% if item.items %}<ul>
                                    {% for event in item.items %}<li{% if forloop.last %} class="last"{% endif %}><a href="{{ event.get_absolute_url }}">{{ event.title }}</a></li>{% endfor %}
                                </ul>{% endif %}

                            </td>
                        {% else %}{% if current_date.month == lookup_date.month and date == current_date.date %}
                            <td class="today">
                                <div class="day_header">
                                    <a href="" class="daynum">{{ date.day }}</a>
                                </div>
                                <div class="clear"></div>
                                {% if item.items %}<ul>
                                    {% for event in item.items %}<li{% if forloop.last %} class="last"{% endif %}><a href="{{ event.get_absolute_url }}">{{ event.title }}</a></li>{% endfor %}
                                </ul>{% else %}<ul><li class="last">&nbsp;</li></ul>{% endif %}
                            </td>
                        {% else %}
                            <td class="calday">
                            <div style="position: relative">
                                <div class="day_header">
                                    <a href="" class="daynum">{{ date.day }}</a>
                                </div>
                                <div class="clear"></div>
                                {% if item.items %}<ul>
                                    {% for event in item.items %}<li{% if forloop.last %} class="last"{% endif %}><a href="{{ event.get_absolute_url }}">{{ event.title }}</a></li>{% endfor %}
                                </ul>{% else %}<ul><li class="last">&nbsp;</li></ul>{% endif %}

                            </div>
                            </td>
                        {% endif %}{% endif %}
                        {% if forloop.counter|divisibleby:"7" %}</tr>{% endif %}
                {% endwith %}
                {% endspaceless %}
                {% endfor %}

                </tbody>
            </table>
        </div>
        <div class="span-24 last prepend-top prepend-1 append-bottom">
            <p class="span-2">
                {% if user.is_authenticated %}<a href="{% url event_create %}">Add Event</a>{% else %}&nbsp;{% endif %}
            </p>
            <p class="span-4">
                <a href="{% url date_index prev_month.month prev_month.year %}">Previous</a> | <a href="{% url date_index next_month.month next_month.year %}">Next</a> | <a href="{% url index %}">Current</a>
            </p>
            <div class="span-9 calsearch">
                <form action="{% url search_index %}" method="post">{% csrf_token %}
                    {{ search_form.as_p }}
                    <input type="submit" value="Go" />
                </form>
            </div>
            <div class="span-8 calsearch last">
                <form action="{% url date_index lookup_date.month lookup_date.year %}" method="get">
                    {{ game_form.as_p }}
                    <input type="submit" value="Go" />
                </form>
            </div>
        </div>
    </div>
{% endblock %}
